fastapi==0.128.8
uvicorn==0.39.0
python-multipart==0.0.20

numpy==1.26.4
pandas==2.1.4
scipy==1.11.4
scikit-learn==1.4.2
joblib==1.3.2

praat-parselmouth==0.4.7
librosa==0.10.2
soundfile==0.12.1
pydub==0.25.1

nolds==0.5.2
pyrpde==0.1.3
setuptools==80.9.0